# World Happines Analysis

## Content
### 01. Importing libraries and data
### 02. Wrangling Data
### 03. Adding Year column to each dataframe
### 04. Removing columns 'region'
### 05. Checking for the columns names after wrangling data
### 06. Exporting Data

## 01. Importing libraries and data

In [5]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# Create Path
path=r'C:\Users\Oksana Stepanova\OneDrive\Документи\World Happiness'

In [7]:
# 2015 Import data
wh_2015=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2015.csv'))

In [8]:
# 2015 Check for output
wh_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [9]:
wh_2015.shape

(158, 12)

In [10]:
wh_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [11]:
wh_2015.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [12]:
# 2016-2019 Import data
wh_2016=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2016.csv'))
wh_2017=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2017.csv'))
wh_2018=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2018.csv'))
wh_2019=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2019.csv'))

In [13]:
# 2020-2023 Import data
wh_2020=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2020.csv'))
wh_2021=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2021.csv'))
wh_2022=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2022.csv'))
wh_2023=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '2023.csv'))

In [14]:
# Check for the number of rows and columns
wh_2016.shape

(157, 13)

In [15]:
wh_2017.shape

(155, 12)

In [16]:
wh_2018.shape

(156, 9)

In [17]:
wh_2019.shape

(156, 9)

In [18]:
wh_2020.shape

(153, 20)

In [19]:
wh_2021.shape

(149, 20)

In [21]:
wh_2022.shape

(147, 12)

In [22]:
wh_2023.shape

(137, 9)

In [23]:
# Check for the columns names
wh_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [24]:
wh_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [25]:
wh_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [26]:
wh_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [27]:
wh_2020.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [28]:
wh_2021.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [29]:
wh_2022.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')

In [30]:
wh_2023.columns

Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')

## 02. Wrangling Data

### 2.1. Wrangling data - 2015 year

In [33]:
# 2015 checking the file
pd.options.display.max_columns = None
wh_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [34]:
# Drop irrelevant columns
wh_2015.drop(columns=['Standard Error'])

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [35]:
wh_2015_1=wh_2015.drop(columns=['Standard Error'])

In [36]:
wh_2015_1.shape

(158, 11)

In [37]:
# Rename columns on 2015 dataframe
wh_2015_1.rename(columns={'Country':'country', 'Region':'region', 'Happiness Rank':'happiness_rank', 'Happiness Score':'happiness_score', 'Economy (GDP per Capita)':'economy_GDP_per_capita', 'Family':'family', 'Health (Life Expectancy)':'health_life_expectancy', 'Freedom':'freedom', 'Trust (Government Corruption)':'trust_government_corruption', 'Generosity':'generosity', 'Dystopia Residual':'dystopia_residual'}, inplace=True)

In [38]:
wh_2015_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      158 non-null    object
 1   region                       158 non-null    object
 2   happiness_rank               158 non-null    int64
 3   happiness_score              158 non-null    float64
 4   economy_GDP_per_capita       158 non-null    float64
 5   family                       158 non-null    float64
 6   health_life_expectancy       158 non-null    float64
 7   freedom                      158 non-null    float64
 8   trust_government_corruption  158 non-null    float64
 9   generosity                   158 non-null    float64
 10  dystopia_residual            158 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.7+ KB

### 2.2. Wrangling data - 2016 year

In [40]:
# 2016 Check for original dataframe
wh_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [41]:
# 2016 Drop irrelevant columns
wh_2016.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval'])

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

In [42]:
wh_2016_1=wh_2016.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval'])

In [43]:
wh_2016_1.shape

(157, 11)

In [44]:
# 2016 Rename columns
wh_2016_1.rename(columns={'Country':'country', 'Region':'region', 'Happiness Rank':'happiness_rank', 'Happiness Score':'happiness_score', 'Economy (GDP per Capita)':'economy_GDP_per_capita', 'Family':'family', 'Health (Life Expectancy)':'health_life_expectancy', 'Freedom':'freedom', 'Trust (Government Corruption)':'trust_government_corruption', 'Generosity':'generosity', 'Dystopia Residual':'dystopia_residual'}, inplace=True)

In [45]:
wh_2016_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      157 non-null    object
 1   region                       157 non-null    object
 2   happiness_rank               157 non-null    int64
 3   happiness_score              157 non-null    float64
 4   economy_GDP_per_capita       157 non-null    float64
 5   family                       157 non-null    float64
 6   health_life_expectancy       157 non-null    float64
 7   freedom                      157 non-null    float64
 8   trust_government_corruption  157 non-null    float64
 9   generosity                   157 non-null    float64
 10  dystopia_residual            157 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.6+ KB

### 2.3. Wrangling data - 2017 year

In [47]:
# 2017 Check for the original dataframe
wh_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [48]:
# 2017 Drop irrelevant columns
wh_2017.drop(columns=['Whisker.high', 'Whisker.low'])

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [49]:
wh_2017_1=wh_2017.drop(columns=['Whisker.high', 'Whisker.low'])

In [50]:
wh_2017_1.shape

(155, 10)

In [51]:
# 2017 Rename columns
wh_2017_1.rename(columns={'Country':'country', 'Happiness.Rank':'happiness_rank', 'Happiness.Score':'happiness_score', 'Economy..GDP.per.Capita.':'economy_GDP_per_capita', 'Family':'family', 'Health..Life.Expectancy.':'health_life_expectancy', 'Freedom':'freedom', 'Generosity':'generosity', 'Trust..Government.Corruption.':'trust_government_corruption', 'Dystopia.Residual':'dystopia_residual'}, inplace=True)

In [52]:
wh_2017_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      155 non-null    object
 1   happiness_rank               155 non-null    int64
 2   happiness_score              155 non-null    float64
 3   economy_GDP_per_capita       155 non-null    float64
 4   family                       155 non-null    float64
 5   health_life_expectancy       155 non-null    float64
 6   freedom                      155 non-null    float64
 7   generosity                   155 non-null    float64
 8   trust_government_corruption  155 non-null    float64
 9   dystopia_residual            155 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 12.2+ KB

In [53]:
# 2017 Place 'generocity' column before 'dystopia_residual'
eighth_column=wh_2017_1.pop('generosity')

In [54]:
wh_2017_1.insert(8, 'generosity', eighth_column)

In [55]:
wh_2017_1.head()

,country,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182

### 2.4. Wrangling data - 2018 year

In [57]:
wh_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [58]:
# 2018 Rename columns
wh_2018.rename(columns={'Overall rank':'happiness_rank', 'Country or region':'country', 'Score':'happiness_score', 'GDP per capita':'economy_GDP_per_capita',  'Social support':'family', 'Healthy life expectancy':'health_life_expectancy', 'Freedom to make life choices':'freedom', 'Generosity':'generosity', 'Perceptions of corruption':'trust_government_corruption'}, inplace=True)

In [59]:
wh_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   happiness_rank               156 non-null    int64
 1   country                      156 non-null    object
 2   happiness_score              156 non-null    float64
 3   economy_GDP_per_capita       156 non-null    float64
 4   family                       156 non-null    float64
 5   health_life_expectancy       156 non-null    float64
 6   freedom                      156 non-null    float64
 7   generosity                   156 non-null    float64
 8   trust_government_corruption  155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [60]:
# 2018 Place the 'happiness_rank' column after 'country'
first_column=wh_2018.pop('happiness_rank')

In [61]:
wh_2018.insert(1, 'happiness_rank', first_column)

In [62]:
wh_2018.head()

,country,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [63]:
# 2018 Place the 'generosity' column after 'trust_government_corruption'
eighth_column=wh_2018.pop('generosity')

In [64]:
wh_2018.insert(8, 'generosity', eighth_column)

In [65]:
wh_2018.head()

,country,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256

In [66]:
# 2018 add a new column 'dystopia_residual' and assign zero value
wh_2018.insert(9, 'dystopia_residual', 0)

In [67]:
wh_2018.head()

,country,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,0
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,0
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,0
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,0
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,0

In [69]:
wh_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      156 non-null    object
 1   happiness_rank               156 non-null    int64
 2   happiness_score              156 non-null    float64
 3   economy_GDP_per_capita       156 non-null    float64
 4   family                       156 non-null    float64
 5   health_life_expectancy       156 non-null    float64
 6   freedom                      156 non-null    float64
 7   trust_government_corruption  155 non-null    float64
 8   generosity                   156 non-null    float64
 9   dystopia_residual            156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

### 2.5. Wrangling data - 2019 year

In [71]:
wh_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [72]:
# 2019 Rename columns
wh_2019.rename(columns={'Overall rank':'happiness_rank', 'Country or region':'country', 'Score':'happiness_score', 'GDP per capita':'economy_GDP_per_capita', 'Social support':'family', 'Healthy life expectancy':'health_life_expectancy', 'Freedom to make life choices':'freedom', 'Generosity':'generosity', 'Perceptions of corruption':'trust_government_corruption'}, inplace=True)

In [73]:
wh_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   happiness_rank               156 non-null    int64
 1   country                      156 non-null    object
 2   happiness_score              156 non-null    float64
 3   economy_GDP_per_capita       156 non-null    float64
 4   family                       156 non-null    float64
 5   health_life_expectancy       156 non-null    float64
 6   freedom                      156 non-null    float64
 7   generosity                   156 non-null    float64
 8   trust_government_corruption  156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [74]:
# 2019 Place the 'happiness_rank' column after 'country'
first_column=wh_2019.pop('happiness_rank')
wh_2019.insert(1, 'happiness_rank', first_column)
wh_2019.head()

,country,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [75]:
# 2019 Place the 'generosity' column after 'trust_government_corruption'
eighth_column=wh_2019.pop('generosity')
wh_2019.insert(8, 'generosity', eighth_column)
wh_2019.head()

,country,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [76]:
# 2019 add a new column 'dystopia_residual' to wh_2019 dataframe and assign zero value
wh_2019.insert(9, 'dystopia_residual', 0)

In [77]:
wh_2019.head()

,country,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,0
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,0
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,0
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,0
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,0

In [78]:
wh_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      156 non-null    object
 1   happiness_rank               156 non-null    int64
 2   happiness_score              156 non-null    float64
 3   economy_GDP_per_capita       156 non-null    float64
 4   family                       156 non-null    float64
 5   health_life_expectancy       156 non-null    float64
 6   freedom                      156 non-null    float64
 7   trust_government_corruption  156 non-null    float64
 8   generosity                   156 non-null    float64
 9   dystopia_residual            156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

### 2.6. Wrangling data - 2020 year

In [80]:
wh_2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [81]:
# 2020 Drop the irrelevant columns
wh_2020.drop(columns=['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia'])

,Country name,Regional indicator,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266
...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2.860198
149,Rwanda,Sub-Saharan Africa,3.3123,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,0.548445
150,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,0.841031
151,South Sudan,Sub-Saharan Africa,2.8166,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,1.378751
152,Afghanistan,South Asia,2.5669,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,1.507236

In [82]:
wh_2020_1=wh_2020.drop(columns=['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia'])

In [83]:
wh_2020_1.shape

(153, 10)

In [84]:
# 2020 Rename columns
wh_2020_1.rename(columns={'Country name':'country', 'Regional indicator':'region', 'Ladder score':'happiness_score', 'Explained by: Log GDP per capita':'economy_GDP_per_capita', 'Explained by: Social support':'family', 'Explained by: Healthy life expectancy':'health_life_expectancy', 'Explained by: Freedom to make life choices':'freedom', 'Explained by: Generosity':'generosity', 'Explained by: Perceptions of corruption':'trust_government_corruption', 'Dystopia + residual':'dystopia_residual'}, inplace=True )

In [85]:
wh_2020_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      153 non-null    object
 1   region                       153 non-null    object
 2   happiness_score              153 non-null    float64
 3   economy_GDP_per_capita       153 non-null    float64
 4   family                       153 non-null    float64
 5   health_life_expectancy       153 non-null    float64
 6   freedom                      153 non-null    float64
 7   generosity                   153 non-null    float64
 8   trust_government_corruption  153 non-null    float64
 9   dystopia_residual            153 non-null    float64
dtypes: float64(8), object(2)
memory usage: 12.1+ KB

In [86]:
# 2020 Create a new cloumn 'happiness_rank'
wh_2020_1['happiness_rank']=wh_2020_1['happiness_score'].rank(ascending=False)
wh_2020_1=wh_2020_1.sort_values(by='happiness_rank', ignore_index=True)
wh_2020_1

,country,region,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption,dystopia_residual,happiness_rank
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,1.0
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2.0
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267,3.0
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688,4.0
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266,5.0
...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2.860198,149.0
149,Rwanda,Sub-Saharan Africa,3.3123,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,0.548445,150.0
150,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,0.841031,151.0
151,South Sudan,Sub-Saharan Africa,2.8166,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,1.378751,152.0
152,Afghanistan,South Asia,2.5669,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,1.507236,153.0

In [87]:
wh_2020_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      153 non-null    object
 1   region                       153 non-null    object
 2   happiness_score              153 non-null    float64
 3   economy_GDP_per_capita       153 non-null    float64
 4   family                       153 non-null    float64
 5   health_life_expectancy       153 non-null    float64
 6   freedom                      153 non-null    float64
 7   generosity                   153 non-null    float64
 8   trust_government_corruption  153 non-null    float64
 9   dystopia_residual            153 non-null    float64
 10  happiness_rank               153 non-null    float64
dtypes: float64(9), object(2)
memory usage: 13.3+ KB

In [88]:
# 2020 Change data type of 'happiness_rank' from float to int
wh_2020_1['happiness_rank']=wh_2020_1['happiness_rank'].apply(np.int64)

In [89]:
wh_2020_1['happiness_rank'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 153 entries, 0 to 152
Series name: happiness_rank
Non-Null Count  Dtype
--------------  -----
153 non-null    int64
dtypes: int64(1)
memory usage: 1.3 KB

In [90]:
# 2020 Place the 'happiness_rank' column after 'region'
second_column=wh_2020_1.pop('happiness_rank')
wh_2020_1.insert(2, 'happiness_rank', second_column)
wh_2020_1.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption,dystopia_residual
0,Finland,Western Europe,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [91]:
wh_2020_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      153 non-null    object
 1   region                       153 non-null    object
 2   happiness_rank               153 non-null    int64
 3   happiness_score              153 non-null    float64
 4   economy_GDP_per_capita       153 non-null    float64
 5   family                       153 non-null    float64
 6   health_life_expectancy       153 non-null    float64
 7   freedom                      153 non-null    float64
 8   generosity                   153 non-null    float64
 9   trust_government_corruption  153 non-null    float64
 10  dystopia_residual            153 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.3+ KB

In [92]:
# 2020 Place the 'generosity' column after 'trust_government_corruption'
nineth_column=wh_2020_1.pop('generosity')
wh_2020_1.insert(9, 'generosity', nineth_column)
wh_2020_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      153 non-null    object
 1   region                       153 non-null    object
 2   happiness_rank               153 non-null    int64
 3   happiness_score              153 non-null    float64
 4   economy_GDP_per_capita       153 non-null    float64
 5   family                       153 non-null    float64
 6   health_life_expectancy       153 non-null    float64
 7   freedom                      153 non-null    float64
 8   trust_government_corruption  153 non-null    float64
 9   generosity                   153 non-null    float64
 10  dystopia_residual            153 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.3+ KB

### 2.7. Wrangling data - 2021 year

In [94]:
wh_2021.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [95]:
# 2021 Drop the irrelevant columns
wh_2021.drop(columns=['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia'])

,Country name,Regional indicator,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [96]:
wh_2021_1=wh_2021.drop(columns=['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia'])

In [97]:
# 2021 Rename columns
wh_2021_1.rename(columns={'Country name':'country', 'Regional indicator':'region', 'Ladder score':'happiness_score', 'Explained by: Log GDP per capita':'economy_GDP_per_capita', 'Explained by: Social support':'family', 'Explained by: Healthy life expectancy':'health_life_expectancy', 'Explained by: Freedom to make life choices':'freedom', 'Explained by: Generosity':'generosity', 'Explained by: Perceptions of corruption':'trust_government_corruption', 'Dystopia + residual':'dystopia_residual'}, inplace=True)

In [98]:
wh_2021_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      149 non-null    object
 1   region                       149 non-null    object
 2   happiness_score              149 non-null    float64
 3   economy_GDP_per_capita       149 non-null    float64
 4   family                       149 non-null    float64
 5   health_life_expectancy       149 non-null    float64
 6   freedom                      149 non-null    float64
 7   generosity                   149 non-null    float64
 8   trust_government_corruption  149 non-null    float64
 9   dystopia_residual            149 non-null    float64
dtypes: float64(8), object(2)
memory usage: 11.8+ KB

In [99]:
# 2021 Create a new cloumn 'happiness_rank'
wh_2021_1['happiness_rank']=wh_2021_1['happiness_score'].rank(ascending=False)
wh_2021_1=wh_2021_1.sort_values(by='happiness_rank', ignore_index=True)
wh_2021_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      149 non-null    object
 1   region                       149 non-null    object
 2   happiness_score              149 non-null    float64
 3   economy_GDP_per_capita       149 non-null    float64
 4   family                       149 non-null    float64
 5   health_life_expectancy       149 non-null    float64
 6   freedom                      149 non-null    float64
 7   generosity                   149 non-null    float64
 8   trust_government_corruption  149 non-null    float64
 9   dystopia_residual            149 non-null    float64
 10  happiness_rank               149 non-null    float64
dtypes: float64(9), object(2)
memory usage: 12.9+ KB

In [100]:
# 2021 Change data type of 'happiness_rank' from float to int
wh_2021_1['happiness_rank']=wh_2021_1['happiness_rank'].apply(np.int64)
wh_2021_1['happiness_rank'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 149 entries, 0 to 148
Series name: happiness_rank
Non-Null Count  Dtype
--------------  -----
149 non-null    int64
dtypes: int64(1)
memory usage: 1.3 KB

In [101]:
# 2021 Place the 'happiness_rank' column after 'region'
second_column=wh_2021_1.pop('happiness_rank')
wh_2021_1.insert(2, 'happiness_rank', second_column)
wh_2021_1.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption,dystopia_residual
0,Finland,Western Europe,1,7.842,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,2,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,3,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,4,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,5,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [102]:
# 2021 Place the 'generosity' column after 'trust_government_corruption'
nineth_column=wh_2021_1.pop('generosity')
wh_2021_1.insert(9, 'generosity', nineth_column)
wh_2021_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      149 non-null    object
 1   region                       149 non-null    object
 2   happiness_rank               149 non-null    int64
 3   happiness_score              149 non-null    float64
 4   economy_GDP_per_capita       149 non-null    float64
 5   family                       149 non-null    float64
 6   health_life_expectancy       149 non-null    float64
 7   freedom                      149 non-null    float64
 8   trust_government_corruption  149 non-null    float64
 9   generosity                   149 non-null    float64
 10  dystopia_residual            149 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 12.9+ KB

### 2.8. Wrangling data - 2022 year

In [105]:
wh_2022.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [106]:
# 2022 Drop irrelevant columns
wh_2022.drop(columns=['Whisker-high', 'Whisker-low'])

,RANK,Country,Happiness score,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","2,137","1,945","1,206","0,787","0,651","0,271","0,419"
...,...,...,...,...,...,...,...,...,...,...
142,143,Rwanda*,"3,268","0,536","0,785","0,133","0,462","0,621","0,187","0,544"
143,144,Zimbabwe,"2,995","0,548","0,947","0,690","0,270","0,329","0,106","0,105"
144,145,Lebanon,"2,955","0,216","1,392","0,498","0,631","0,103","0,082","0,034"
145,146,Afghanistan,"2,404","1,263","0,758","0,000","0,289","0,000","0,089","0,005"
146,147,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
wh_2022_1=wh_2022.drop(columns=['Whisker-high', 'Whisker-low'])

In [108]:
wh_2022_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 10 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   RANK                                        147 non-null    int64
 1   Country                                     147 non-null    object
 2   Happiness score                             146 non-null    object
 3   Dystopia (1.83) + residual                  146 non-null    object
 4   Explained by: GDP per capita                146 non-null    object
 5   Explained by: Social support                146 non-null    object
 6   Explained by: Healthy life expectancy       146 non-null    object
 7   Explained by: Freedom to make life choices  146 non-null    object
 8   Explained by: Generosity                    146 non-null    object
 9   Explained by: Perceptions of corruption     146 non-null    object
dtypes: int64(1), object(9)
memory usage: 11.6+ KB

In [109]:
# 2022 Rename columns
wh_2022_1.rename(columns={'RANK':'happiness_rank', 'Country':'country', 'Happiness score':'happiness_score', 'Dystopia (1.83) + residual':'dystopia_residual', 'Explained by: GDP per capita':'economy_GDP_per_capita', 'Explained by: Social support':'family', 'Explained by: Healthy life expectancy':'health_life_expectancy', 'Explained by: Freedom to make life choices':'freedom', 'Explained by: Generosity':'generosity', 'Explained by: Perceptions of corruption':'trust_government_corruption'}, inplace=True)

In [110]:
wh_2022_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   happiness_rank               147 non-null    int64
 1   country                      147 non-null    object
 2   happiness_score              146 non-null    object
 3   dystopia_residual            146 non-null    object
 4   economy_GDP_per_capita       146 non-null    object
 5   family                       146 non-null    object
 6   health_life_expectancy       146 non-null    object
 7   freedom                      146 non-null    object
 8   generosity                   146 non-null    object
 9   trust_government_corruption  146 non-null    object
dtypes: int64(1), object(9)
memory usage: 11.6+ KB

In [111]:
# 2022 Place the 'happiness_rank' column after 'country'
first_column=wh_2022_1.pop('happiness_rank')
wh_2022_1.insert(1, 'happiness_rank', first_column)
wh_2022_1.head()

,country,happiness_rank,happiness_score,dystopia_residual,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption
0,Finland,1,"7,821","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,Denmark,2,"7,636","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,Iceland,3,"7,557","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,Switzerland,4,"7,512","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,Netherlands,5,"7,415","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [112]:
# 2022 Place the 'generosity' column after 'trust_government_corruption'
nineth_column=wh_2022_1.pop('generosity')
wh_2022_1.insert(9, 'generosity', nineth_column)
wh_2022_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      147 non-null    object
 1   happiness_rank               147 non-null    int64
 2   happiness_score              146 non-null    object
 3   dystopia_residual            146 non-null    object
 4   economy_GDP_per_capita       146 non-null    object
 5   family                       146 non-null    object
 6   health_life_expectancy       146 non-null    object
 7   freedom                      146 non-null    object
 8   trust_government_corruption  146 non-null    object
 9   generosity                   146 non-null    object
dtypes: int64(1), object(9)
memory usage: 11.6+ KB

In [113]:
# 2022 Place the 'dystopia_residual' column at the end
nineth_column=wh_2022_1.pop('dystopia_residual')
wh_2022_1.insert(9, 'dystopia_residual', nineth_column)
wh_2022_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      147 non-null    object
 1   happiness_rank               147 non-null    int64
 2   happiness_score              146 non-null    object
 3   economy_GDP_per_capita       146 non-null    object
 4   family                       146 non-null    object
 5   health_life_expectancy       146 non-null    object
 6   freedom                      146 non-null    object
 7   trust_government_corruption  146 non-null    object
 8   generosity                   146 non-null    object
 9   dystopia_residual            146 non-null    object
dtypes: int64(1), object(9)
memory usage: 11.6+ KB

### 2.9. Wrangling data - 2023 year

In [115]:
wh_2023.head()

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,Western Europe,7.804,1.888,1.585,0.535,0.772,0.126,0.535
1,Denmark,Western Europe,7.586,1.949,1.548,0.537,0.734,0.208,0.525
2,Iceland,Western Europe,7.530,1.926,1.620,0.559,0.738,0.250,0.187
3,Israel,Middle East and North Africa,7.473,1.833,1.521,0.577,0.569,0.124,0.158
4,Netherlands,Western Europe,7.403,1.942,1.488,0.545,0.672,0.251,0.394

In [117]:
# 2023 Rename columns
wh_2023.rename(columns={'gdp_per_capita':'economy_GDP_per_capita', 'social_support':'family', 'healthy_life_expectancy':'health_life_expectancy', 'freedom_to_make_life_choices':'freedom', 'perceptions_of_corruption':'trust_government_corruption'}, inplace=True)

In [118]:
wh_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      137 non-null    object
 1   region                       137 non-null    object
 2   happiness_score              137 non-null    float64
 3   economy_GDP_per_capita       137 non-null    float64
 4   family                       137 non-null    float64
 5   health_life_expectancy       136 non-null    float64
 6   freedom                      137 non-null    float64
 7   generosity                   137 non-null    float64
 8   trust_government_corruption  137 non-null    float64
dtypes: float64(7), object(2)
memory usage: 9.8+ KB

In [119]:
# 2023 Create a new cloumn 'happiness_rank'
wh_2023['happiness_rank']=wh_2023['happiness_score'].rank(ascending=False)
wh_2023=wh_2023.sort_values(by='happiness_rank', ignore_index=True)
wh_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      137 non-null    object
 1   region                       137 non-null    object
 2   happiness_score              137 non-null    float64
 3   economy_GDP_per_capita       137 non-null    float64
 4   family                       137 non-null    float64
 5   health_life_expectancy       136 non-null    float64
 6   freedom                      137 non-null    float64
 7   generosity                   137 non-null    float64
 8   trust_government_corruption  137 non-null    float64
 9   happiness_rank               137 non-null    float64
dtypes: float64(8), object(2)
memory usage: 10.8+ KB

In [120]:
# 2023 Change data type of 'happiness_rank' from float to int
wh_2023['happiness_rank']=wh_2023['happiness_rank'].apply(np.int64)
wh_2023['happiness_rank'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 137 entries, 0 to 136
Series name: happiness_rank
Non-Null Count  Dtype
--------------  -----
137 non-null    int64
dtypes: int64(1)
memory usage: 1.2 KB

In [121]:
# 2023 add a new column 'dystopia_residual' to wh_2023 dataframe and assign zero value
wh_2023.insert(10, 'dystopia_residual', 0)

In [122]:
wh_2023.head()

,country,region,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption,happiness_rank,dystopia_residual
0,Finland,Western Europe,7.804,1.888,1.585,0.535,0.772,0.126,0.535,1,0
1,Denmark,Western Europe,7.586,1.949,1.548,0.537,0.734,0.208,0.525,2,0
2,Iceland,Western Europe,7.530,1.926,1.620,0.559,0.738,0.250,0.187,3,0
3,Israel,Middle East and North Africa,7.473,1.833,1.521,0.577,0.569,0.124,0.158,4,0
4,Netherlands,Western Europe,7.403,1.942,1.488,0.545,0.672,0.251,0.394,5,0

In [123]:
wh_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      137 non-null    object
 1   region                       137 non-null    object
 2   happiness_score              137 non-null    float64
 3   economy_GDP_per_capita       137 non-null    float64
 4   family                       137 non-null    float64
 5   health_life_expectancy       136 non-null    float64
 6   freedom                      137 non-null    float64
 7   generosity                   137 non-null    float64
 8   trust_government_corruption  137 non-null    float64
 9   happiness_rank               137 non-null    int64
 10  dystopia_residual            137 non-null    int64
dtypes: float64(7), int64(2), object(2)
memory usage: 11.9+ KB

In [124]:
# 2023 Place the 'happiness_rank' column after 'region'
second_column=wh_2023.pop('happiness_rank')
wh_2023.insert(2, 'happiness_rank', second_column)
wh_2023.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption,dystopia_residual
0,Finland,Western Europe,1,7.804,1.888,1.585,0.535,0.772,0.126,0.535,0
1,Denmark,Western Europe,2,7.586,1.949,1.548,0.537,0.734,0.208,0.525,0
2,Iceland,Western Europe,3,7.530,1.926,1.620,0.559,0.738,0.250,0.187,0
3,Israel,Middle East and North Africa,4,7.473,1.833,1.521,0.577,0.569,0.124,0.158,0
4,Netherlands,Western Europe,5,7.403,1.942,1.488,0.545,0.672,0.251,0.394,0

In [125]:
wh_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      137 non-null    object
 1   region                       137 non-null    object
 2   happiness_rank               137 non-null    int64
 3   happiness_score              137 non-null    float64
 4   economy_GDP_per_capita       137 non-null    float64
 5   family                       137 non-null    float64
 6   health_life_expectancy       136 non-null    float64
 7   freedom                      137 non-null    float64
 8   generosity                   137 non-null    float64
 9   trust_government_corruption  137 non-null    float64
 10  dystopia_residual            137 non-null    int64
dtypes: float64(7), int64(2), object(2)
memory usage: 11.9+ KB

In [126]:
# 2023 Place the 'generosity' column after 'trust_government_corruption'
ninth_column=wh_2023.pop('generosity')
wh_2023.insert(9, 'generosity', ninth_column)
wh_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      137 non-null    object
 1   region                       137 non-null    object
 2   happiness_rank               137 non-null    int64
 3   happiness_score              137 non-null    float64
 4   economy_GDP_per_capita       137 non-null    float64
 5   family                       137 non-null    float64
 6   health_life_expectancy       136 non-null    float64
 7   freedom                      137 non-null    float64
 8   trust_government_corruption  137 non-null    float64
 9   generosity                   137 non-null    float64
 10  dystopia_residual            137 non-null    int64
dtypes: float64(7), int64(2), object(2)
memory usage: 11.9+ KB

## 03. Adding Year column to each dataframe

In [128]:
# 2015 Add a 'year' column after region columns
wh_2015_1.insert(2, 'year', 2015)

In [129]:
wh_2015_1.head()

,country,region,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Switzerland,Western Europe,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [130]:
wh_2015_1['year'].value_counts(dropna=False)

year
2015    158
Name: count, dtype: int64

In [131]:
wh_2015_1['year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 158 entries, 0 to 157
Series name: year
Non-Null Count  Dtype
--------------  -----
158 non-null    int64
dtypes: int64(1)
memory usage: 1.4 KB

In [132]:
wh_2015_1.shape

(158, 12)

In [133]:
# 2016 Add a 'year' column after region columns
wh_2016_1.insert(2, 'year', 2016)

In [134]:
wh_2016_1.head()

,country,region,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Denmark,Western Europe,2016,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2016,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,2016,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,2016,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,2016,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [135]:
wh_2016_1['year'].value_counts(dropna=False)

year
2016    157
Name: count, dtype: int64

In [136]:
wh_2016_1['year'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 157 entries, 0 to 156
Series name: year
Non-Null Count  Dtype
--------------  -----
157 non-null    int64
dtypes: int64(1)
memory usage: 1.4 KB

In [137]:
wh_2016_1.shape

(157, 12)

In [138]:
# 2017 Add a 'year' column after country columns
wh_2017_1.insert(1, 'year', 2017)

In [139]:
wh_2017_1.head()

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Norway,2017,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027
1,Denmark,2017,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707
2,Iceland,2017,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715
3,Switzerland,2017,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716
4,Finland,2017,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182

In [140]:
wh_2017_1['year'].value_counts(dropna=False)

year
2017    155
Name: count, dtype: int64

In [141]:
wh_2017_1.shape

(155, 11)

In [143]:
# 2018 Add a 'year' column after country columns
wh_2018.insert(1, 'year', 2018)

In [144]:
wh_2018.head()

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2018,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,0
1,Norway,2018,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,0
2,Denmark,2018,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,0
3,Iceland,2018,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,0
4,Switzerland,2018,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,0

In [145]:
wh_2018['year'].value_counts(dropna=False)

year
2018    156
Name: count, dtype: int64

In [146]:
wh_2018.shape

(156, 11)

In [147]:
# 2019 Add a 'year' column after country columns
wh_2019.insert(1, 'year', 2019)

In [148]:
wh_2019.head()

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2019,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,0
1,Denmark,2019,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,0
2,Norway,2019,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,0
3,Iceland,2019,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,0
4,Netherlands,2019,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,0

In [149]:
wh_2019['year'].value_counts(dropna=False)

year
2019    156
Name: count, dtype: int64

In [150]:
# 2020 Add a 'year' column after region columns
wh_2020_1.insert(2, 'year', 2020)

In [151]:
wh_2020_1.head()

,country,region,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,2020,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.477857,0.159670,2.762835
1,Denmark,Western Europe,2020,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.495260,0.242793,2.432741
2,Switzerland,Western Europe,2020,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.407946,0.269056,2.350267
3,Iceland,Western Europe,2020,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.144541,0.362330,2.460688
4,Norway,Western Europe,2020,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.434101,0.287985,2.168266

In [152]:
wh_2020_1['year'].value_counts(dropna=False)

year
2020    153
Name: count, dtype: int64

In [153]:
wh_2020_1.shape

(153, 12)

In [154]:
# 2021 Add a 'year' column after region columns
wh_2021_1.insert(2, 'year', 2021)

In [155]:
wh_2021_1.head()

,country,region,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,2021,1,7.842,1.446,1.106,0.741,0.691,0.481,0.124,3.253
1,Denmark,Western Europe,2021,2,7.620,1.502,1.108,0.763,0.686,0.485,0.208,2.868
2,Switzerland,Western Europe,2021,3,7.571,1.566,1.079,0.816,0.653,0.413,0.204,2.839
3,Iceland,Western Europe,2021,4,7.554,1.482,1.172,0.772,0.698,0.170,0.293,2.967
4,Netherlands,Western Europe,2021,5,7.464,1.501,1.079,0.753,0.647,0.384,0.302,2.798

In [156]:
wh_2021_1['year'].value_counts(dropna=False)

year
2021    149
Name: count, dtype: int64

In [157]:
wh_2021_1.shape

(149, 12)

In [158]:
# 2022 Add a 'year' column after country columns
wh_2022_1.insert(1, 'year', 2022)

In [159]:
wh_2022_1.head()

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2022,1,"7,821","1,892","1,258","0,775","0,736","0,534","0,109","2,518"
1,Denmark,2022,2,"7,636","1,953","1,243","0,777","0,719","0,532","0,188","2,226"
2,Iceland,2022,3,"7,557","1,936","1,320","0,803","0,718","0,191","0,270","2,320"
3,Switzerland,2022,4,"7,512","2,026","1,226","0,822","0,677","0,461","0,147","2,153"
4,Netherlands,2022,5,"7,415","1,945","1,206","0,787","0,651","0,419","0,271","2,137"

In [160]:
wh_2022_1['year'].value_counts(dropna=False)

year
2022    147
Name: count, dtype: int64

In [161]:
wh_2022_1.shape

(147, 11)

In [162]:
# 2023 Add a 'year' column after country columns
wh_2023.insert(2, 'year', 2023)

In [163]:
wh_2023['year'].value_counts(dropna=False)

year
2023    137
Name: count, dtype: int64

In [164]:
wh_2023.shape

(137, 12)

## 04. Removing columns 'region'

In [166]:
# 2015 Drop the column 'region'
wh_2015_1.drop(columns=['region'])

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,2015,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,2015,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,2015,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,2015,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,2015,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [167]:
wh_2015_2=wh_2015_1.drop(columns=['region'])

In [168]:
wh_2015_2.shape

(158, 11)

In [169]:
# 2016 Drop the column 'region'
wh_2016_1.drop(columns=['region'])

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Denmark,2016,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,2016,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,2016,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,2016,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,2016,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,2016,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,2016,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,2016,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,2016,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,2016,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

In [170]:
wh_2016_2=wh_2016_1.drop(columns=['region'])

In [171]:
wh_2016_2.shape

(157, 11)

In [172]:
# 2020 Drop the column 'region'
wh_2020_1.drop(columns=['region'])

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2020,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.477857,0.159670,2.762835
1,Denmark,2020,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.495260,0.242793,2.432741
2,Switzerland,2020,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.407946,0.269056,2.350267
3,Iceland,2020,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.144541,0.362330,2.460688
4,Norway,2020,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.434101,0.287985,2.168266
...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,2020,149,3.4759,0.041072,0.000000,0.000000,0.292814,0.028265,0.253513,2.860198
149,Rwanda,2020,150,3.3123,0.343243,0.522876,0.572383,0.604088,0.485542,0.235705,0.548445
150,Zimbabwe,2020,151,3.2992,0.425564,1.047835,0.375038,0.377405,0.080929,0.151349,0.841031
151,South Sudan,2020,152,2.8166,0.289083,0.553279,0.208809,0.065609,0.111157,0.209935,1.378751
152,Afghanistan,2020,153,2.5669,0.300706,0.356434,0.266052,0.000000,0.001226,0.135235,1.507236

In [173]:
wh_2020_2=wh_2020_1.drop(columns=['region'])

In [174]:
wh_2020_2.shape

(153, 11)

In [175]:
# 2021 Drop the column 'region'
wh_2021_1.drop(columns=['region'])

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2021,1,7.842,1.446,1.106,0.741,0.691,0.481,0.124,3.253
1,Denmark,2021,2,7.620,1.502,1.108,0.763,0.686,0.485,0.208,2.868
2,Switzerland,2021,3,7.571,1.566,1.079,0.816,0.653,0.413,0.204,2.839
3,Iceland,2021,4,7.554,1.482,1.172,0.772,0.698,0.170,0.293,2.967
4,Netherlands,2021,5,7.464,1.501,1.079,0.753,0.647,0.384,0.302,2.798
...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,2021,145,3.512,0.451,0.731,0.007,0.405,0.015,0.103,1.800
145,Botswana,2021,146,3.467,1.099,0.724,0.340,0.539,0.088,0.027,0.648
146,Rwanda,2021,147,3.415,0.364,0.202,0.407,0.627,0.493,0.227,1.095
147,Zimbabwe,2021,148,3.145,0.457,0.649,0.243,0.359,0.075,0.157,1.205
148,Afghanistan,2021,149,2.523,0.370,0.000,0.126,0.000,0.010,0.122,1.895

In [176]:
wh_2021_2=wh_2021_1.drop(columns=['region'])

In [177]:
wh_2021_2.shape

(149, 11)

In [178]:
# 2023 Drop the column 'region'
wh_2023.drop(columns=['region'])

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,2023,1,7.804,1.888,1.585,0.535,0.772,0.535,0.126,0
1,Denmark,2023,2,7.586,1.949,1.548,0.537,0.734,0.525,0.208,0
2,Iceland,2023,3,7.530,1.926,1.620,0.559,0.738,0.187,0.250,0
3,Israel,2023,4,7.473,1.833,1.521,0.577,0.569,0.158,0.124,0
4,Netherlands,2023,5,7.403,1.942,1.488,0.545,0.672,0.394,0.251,0
...,...,...,...,...,...,...,...,...,...,...,...
132,Congo (Kinshasa),2023,133,3.207,0.531,0.784,0.105,0.375,0.068,0.183,0
133,Zimbabwe,2023,134,3.204,0.758,0.881,0.069,0.363,0.117,0.112,0
134,Sierra Leone,2023,135,3.138,0.670,0.540,0.092,0.371,0.051,0.193,0
135,Lebanon,2023,136,2.392,1.417,0.476,0.398,0.123,0.027,0.061,0
136,Afghanistan,2023,137,1.859,0.645,0.000,0.087,0.000,0.059,0.093,0

In [179]:
wh_2023_1=wh_2023.drop(columns=['region'])

In [180]:
wh_2023_1.shape

(137, 11)

## 05. Checking for the columns names after wrangling data

In [183]:
wh_2015_2.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'economy_GDP_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [184]:
wh_2016_2.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'economy_GDP_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [185]:
wh_2017_1.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'economy_GDP_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [186]:
wh_2018.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'economy_GDP_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [187]:
wh_2019.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'economy_GDP_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [188]:
wh_2020_2.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'economy_GDP_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [189]:
wh_2021_2.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'economy_GDP_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [190]:
wh_2022_1.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'economy_GDP_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

In [191]:
wh_2023_1.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'economy_GDP_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity', 'dystopia_residual'],
      dtype='object')

## 06. Exporting Data

In [195]:
wh_2015_2.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh_2015_wrangled.csv'))

In [196]:
wh_2016_2.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh_2016_wrangled.csv'))

In [197]:
wh_2017_1.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh_2017_wrangled.csv'))

In [198]:
wh_2018.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh_2018_wrangled.csv'))

In [199]:
wh_2019.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh_2019_wrangled.csv'))

In [200]:
wh_2020_2.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh_2020_wrangled.csv'))

In [201]:
wh_2021_2.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh_2021_wrangled.csv'))

In [202]:
wh_2022_1.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh_2022_wrangled.csv'))

In [203]:
wh_2023_1.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'wh_2023_wrangled.csv'))