# World Happines Analysis

## Content
### 01. Importing libraries and data
### 02. Merging dataframes
### 03. Checking mixed-typed data
### 04. Missing values
### 05. Duplicates
### 06. Descriptive analysis
### 07. Expoting data

## 01. Importing libraries and data

In [4]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [5]:
# Create Path
path="C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/"

## 02. Merging dataframes

In [7]:
# Create the list of dataframes to merge based on name convention
file_list = [path + f for f in os.listdir(path) if f.startswith('wh_20')]

In [8]:
print(file_list)

['C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/wh_2015_wrangled.csv', 'C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/wh_2016_wrangled.csv', 'C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/wh_2017_wrangled.csv', 'C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/wh_2018_wrangled.csv', 'C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/wh_2019_wrangled.csv', 'C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/wh_2020_wrangled.csv', 'C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/wh_2021_wrangled.csv', 'C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/wh_2022_wrangled.csv', 'C:/Users/Oksana Stepanova/OneDrive/Документи/World Happiness/02 Data/Prepared Data/wh_2023_wrangled.csv']

In [9]:
# Create an empty list to include the content of each dataframe converted to pandas DF
csv_list=[]

In [10]:
# Read each (sorted) dataframe in file_list, convert it to pandas DF and appends it to the csv_list
for file in sorted(file_list):
    csv_list.append(pd.read_csv(file).assign(File_Name = os.path.basename(file)))

In [11]:
# Merge the pandas DFs into one DF, index is refreshed 
csv_merged=pd.concat(csv_list, ignore_index=True)

In [12]:
# The single DF to be saved to the path in CSV format, without index column
csv_merged.to_csv(path+'wh_merged.csv', index=False)

In [13]:
# Import Data
wh_merged=pd.read_csv(os.path.join(path, 'wh_merged.csv'))

In [14]:
# Check for the output
wh_merged

,Unnamed: 0,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual,File_Name
0,0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,wh_2015_wrangled.csv
1,1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,wh_2015_wrangled.csv
2,2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,wh_2015_wrangled.csv
3,3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,wh_2015_wrangled.csv
4,4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,wh_2015_wrangled.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,132,Congo (Kinshasa),2023,133,3.207,0.53100,0.78400,0.10500,0.37500,0.06800,0.18300,0.00000,wh_2023_wrangled.csv
1364,133,Zimbabwe,2023,134,3.204,0.75800,0.88100,0.06900,0.36300,0.11700,0.11200,0.00000,wh_2023_wrangled.csv
1365,134,Sierra Leone,2023,135,3.138,0.67000,0.54000,0.09200,0.37100,0.05100,0.19300,0.00000,wh_2023_wrangled.csv
1366,135,Lebanon,2023,136,2.392,1.41700,0.47600,0.39800,0.12300,0.02700,0.06100,0.00000,wh_2023_wrangled.csv
1367,136,Afghanistan,2023,137,1.859,0.64500,0.00000,0.08700,0.00000,0.05900,0.09300,0.00000,wh_2023_wrangled.csv

In [15]:
# Drop Unnamed column 
wh_merged.drop(columns=['Unnamed: 0'])

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual,File_Name
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,wh_2015_wrangled.csv
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,wh_2015_wrangled.csv
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,wh_2015_wrangled.csv
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,wh_2015_wrangled.csv
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,wh_2015_wrangled.csv
...,...,...,...,...,...,...,...,...,...,...,...,...
1363,Congo (Kinshasa),2023,133,3.207,0.53100,0.78400,0.10500,0.37500,0.06800,0.18300,0.00000,wh_2023_wrangled.csv
1364,Zimbabwe,2023,134,3.204,0.75800,0.88100,0.06900,0.36300,0.11700,0.11200,0.00000,wh_2023_wrangled.csv
1365,Sierra Leone,2023,135,3.138,0.67000,0.54000,0.09200,0.37100,0.05100,0.19300,0.00000,wh_2023_wrangled.csv
1366,Lebanon,2023,136,2.392,1.41700,0.47600,0.39800,0.12300,0.02700,0.06100,0.00000,wh_2023_wrangled.csv
1367,Afghanistan,2023,137,1.859,0.64500,0.00000,0.08700,0.00000,0.05900,0.09300,0.00000,wh_2023_wrangled.csv

In [16]:
wh_merged_1=wh_merged.drop(columns=['Unnamed: 0'])

In [17]:
wh_merged_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      1368 non-null   object
 1   year                         1368 non-null   int64
 2   happiness_rank               1368 non-null   int64
 3   happiness_score              1367 non-null   float64
 4   economy_GDP_per_capita       1367 non-null   float64
 5   family                       1367 non-null   float64
 6   health_life_expectancy       1366 non-null   float64
 7   freedom                      1367 non-null   float64
 8   trust_government_corruption  1366 non-null   float64
 9   generosity                   1367 non-null   float64
 10  dystopia_residual            1367 non-null   float64
 11  File_Name                    1368 non-null   object
dtypes: float64(8), int64(2), object(2)
memory usage: 128.4+ KB

In [19]:
## 03. Consistency check

In [20]:
# Check for the frequency of 'country' column 
pd.options.display.max_rows = None
wh_merged_1['country'].value_counts(dropna=False)

country
Switzerland                  9
Jamaica                      9
Tunisia                      9
Tajikistan                   9
Honduras                     9
Hungary                      9
Lebanon                      9
Greece                       9
Iceland                      9
Dominican Republic           9
Bosnia and Herzegovina       9
Albania                      9
Morocco                      9
Philippines                  9
Latvia                       9
Portugal                     9
Serbia                       9
Romania                      9
Zambia                       9
China                        9
Montenegro                   9
Jordan                       9
Pakistan                     9
Nigeria                      9
Kyrgyzstan                   9
Vietnam                      9
Indonesia                    9
Estonia                      9
Mauritius                    9
Kosovo                       9
Algeria                      9
Bangladesh                   9
Iran                         9
Ukraine                      9
Bulgaria                     9
Togo                         9
Benin                        9
Afghanistan                  9
Burkina Faso                 9
Ivory Coast                  9
Guinea                       9
Tanzania                     9
Cambodia                     9
Gabon                        9
Senegal                      9
Uganda                       9
Mali                         9
Egypt                        9
Cameroon                     9
Iraq                         9
Sri Lanka                    9
Malawi                       9
Georgia                      9
Myanmar                      9
Armenia                      9
Kenya                        9
Sierra Leone                 9
Ethiopia                     9
Nepal                        9
India                        9
Zimbabwe                     9
Ghana                        9
South Africa                 9
Cyprus                       9
Mongolia                     9
Ireland                      9
Venezuela                    9
Malta                        9
Spain                        9
Thailand                     9
Colombia                     9
Uruguay                      9
Argentina                    9
France                       9
Canada                       9
Chile                        9
Finland                      9
Germany                      9
Panama                       9
Singapore                    9
Netherlands                  9
El Salvador                  9
Sweden                       9
United Kingdom               9
United Arab Emirates         9
Belgium                      9
Russia                       9
Brazil                       9
United States                9
Mexico                       9
Austria                      9
Costa Rica                   9
Israel                       9
Australia                    9
New Zealand                  9
Norway                       9
Saudi Arabia                 9
Paraguay                     9
Slovakia                     9
Moldova                      9
Bolivia                      9
Slovenia                     9
Italy                        9
Bahrain                      9
Lithuania                    9
Ecuador                      9
South Korea                  9
Japan                        9
Nicaragua                    9
Kazakhstan                   9
Denmark                      9
Peru                         9
Uzbekistan                   9
Poland                       9
Malaysia                     9
Croatia                      9
Mauritania                   8
Luxembourg                   8
Chad                         8
Congo (Brazzaville)          8
Botswana                     8
Niger                        8
Turkey                       8
Madagascar                   8
Laos                         8
Liberia                      8
Guatemala                    8
Namibia                      8
Mozambique                   8
Congo (Kinshasa)             7
Libya                        7
Burundi                      7
Turkmenistan                 7
Kuwait                       7
Rwanda                       7
Yemen                        7
Belarus                      7
Palestinian Territories      7
Czech Republic               7
Haiti                        7
Azerbaijan                   7
Comoros                      6
Lesotho                      6
Central African Republic     5
Taiwan Province of China     5
South Sudan                  5
Syria                        5
North Cyprus                 5
Macedonia                    5
Bhutan                       5
Qatar                        5
Angola                       4
North Macedonia              4
Somalia                      4
Gambia                       4
Trinidad and Tobago          4
Swaziland                    4
Hong Kong S.A.R. of China    4
Taiwan                       4
Sudan                        4
Hong Kong                    4
Belize                       3
Trinidad & Tobago            2
Northern Cyprus              2
Maldives                     2
Czechia                      2
Suriname                     2
Hong Kong S.A.R., China      1
Congo                        1
State of Palestine           1
xx                           1
Rwanda*                      1
Botswana*                    1
Lesotho*                     1
Mauritania*                  1
Yemen*                       1
Chad*                        1
Madagascar*                  1
Eswatini, Kingdom of*        1
Palestinian Territories*     1
Comoros*                     1
Niger*                       1
Liberia*                     1
Somaliland region            1
Gambia*                      1
Azerbaijan*                  1
Libya*                       1
North Cyprus*                1
Turkmenistan*                1
Belarus*                     1
Kuwait*                      1
Guatemala*                   1
Oman                         1
Luxembourg*                  1
Djibouti                     1
Puerto Rico                  1
Somaliland Region            1
Turkiye                      1
Name: count, dtype: int64

In [21]:
# Unify the country names
wh_merged_1['country']=wh_merged_1['country'].replace(['Azerbaijan*'],'Azerbaijan')

In [22]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Belarus*'],'Belarus')

In [23]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Botswana*'],'Botswana')

In [24]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Chad*'],'Chad')

In [25]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Comoros*'],'Comoros')

In [26]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Congo'],'Congo (Kinshasa)')

In [27]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Czechia'],'Czech Republic')

In [28]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Eswatini, Kingdom of*'],'Eswatini')

In [29]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Gambia*'],'Gambia')

In [30]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Guatemala*'],'Guatemala')

In [31]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Hong Kong S.A.R. of China'],'Hong Kong')

In [33]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Hong Kong S.A.R., China'],'Hong Kong')

In [34]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Kuwait*'],'Kuwait')

In [35]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Lesotho*'],'Lesotho')

In [36]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Liberia*'],'Liberia')

In [37]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Libya*'],'Libya')

In [38]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Luxembourg*'],'Luxembourg')

In [39]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Madagascar*'],'Madagascar')

In [40]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Mauritania*'],'Mauritania')

In [41]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Niger*'],'Niger')

In [42]:
wh_merged_1['country']=wh_merged_1['country'].replace(['North Cyprus'],'Northern Cyprus')

In [43]:
wh_merged_1['country']=wh_merged_1['country'].replace(['North Cyprus*'],'Northern Cyprus')

In [44]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Macedonia'],'North Macedonia')

In [45]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Palestinian Territories*'],'Palestinian Territories')

In [46]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Rwanda*'],'Rwanda')

In [47]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Somaliland Region'],'Somaliland')

In [48]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Somaliland region'],'Somaliland')

In [49]:
wh_merged_1['country']=wh_merged_1['country'].replace(['State of Palestine'],'Palestine')

In [50]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Palestinian Territories'],'Palestine')

In [51]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Swaziland'],'Eswatini')

In [52]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Taiwan Province of China'],'Taiwan')

In [53]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Trinidad & Tobago'],'Trinidad and Tobago')

In [54]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Turkiye'],'Turkey')

In [55]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Turkmenistan*'],'Turkmenistan')

In [56]:
wh_merged_1['country']=wh_merged_1['country'].replace(['Yemen*'],'Yemen')

In [57]:
# Check for the frequency of 'country' column 
pd.options.display.max_rows = None
wh_merged_1['country'].value_counts(dropna=False)

country
Switzerland                 9
Hungary                     9
Albania                     9
Bosnia and Herzegovina      9
Dominican Republic          9
Mongolia                    9
Greece                      9
Lebanon                     9
Honduras                    9
Morocco                     9
Tajikistan                  9
Tunisia                     9
Palestine                   9
Bangladesh                  9
Iran                        9
Ukraine                     9
North Macedonia             9
Philippines                 9
Mauritius                   9
Pakistan                    9
Estonia                     9
Indonesia                   9
Vietnam                     9
Turkey                      9
Kyrgyzstan                  9
Nigeria                     9
Jordan                      9
Latvia                      9
Montenegro                  9
Iceland                     9
Zambia                      9
Romania                     9
Serbia                      9
Portugal                    9
Iraq                        9
South Africa                9
Ghana                       9
Madagascar                  9
Uganda                      9
Senegal                     9
Gabon                       9
Niger                       9
Cambodia                    9
Tanzania                    9
Chad                        9
Zimbabwe                    9
Guinea                      9
Ivory Coast                 9
Burkina Faso                9
Afghanistan                 9
Benin                       9
Togo                        9
Mali                        9
Egypt                       9
Bulgaria                    9
Cameroon                    9
Sri Lanka                   9
Malawi                      9
Georgia                     9
Myanmar                     9
Botswana                    9
Armenia                     9
Kenya                       9
Mauritania                  9
Sierra Leone                9
Ethiopia                    9
Nepal                       9
India                       9
Liberia                     9
Hong Kong                   9
China                       9
Austria                     9
Japan                       9
Uzbekistan                  9
Guatemala                   9
El Salvador                 9
Costa Rica                  9
Canada                      9
Ireland                     9
Taiwan                      9
Malta                       9
Spain                       9
Saudi Arabia                9
Thailand                    9
Colombia                    9
Uruguay                     9
Finland                     9
Kosovo                      9
Belgium                     9
Czech Republic              9
Argentina                   9
France                      9
Netherlands                 9
Chile                       9
Sweden                      9
Germany                     9
Panama                      9
Singapore                   9
Venezuela                   9
New Zealand                 9
Slovakia                    9
South Korea                 9
United Arab Emirates        9
Norway                      9
Algeria                     9
Cyprus                      9
Mexico                      9
Jamaica                     9
Russia                      9
United States               9
Brazil                      9
Israel                      9
Croatia                     9
Malaysia                    9
Poland                      9
Peru                        9
Nicaragua                   9
Lithuania                   9
Slovenia                    9
Kazakhstan                  9
Denmark                     9
Paraguay                    9
Moldova                     9
Luxembourg                  9
Bolivia                     9
Italy                       9
Australia                   9
Bahrain                     9
Ecuador                     9
United Kingdom              9
Congo (Brazzaville)         8
Yemen                       8
Turkmenistan                8
Congo (Kinshasa)            8
Kuwait                      8
Laos                        8
Mozambique                  8
Belarus                     8
Libya                       8
Azerbaijan                  8
Namibia                     8
Northern Cyprus             8
Rwanda                      8
Burundi                     7
Haiti                       7
Comoros                     7
Lesotho                     7
Trinidad and Tobago         6
Gambia                      5
South Sudan                 5
Bhutan                      5
Eswatini                    5
Syria                       5
Qatar                       5
Central African Republic    5
Sudan                       4
Angola                      4
Somalia                     4
Belize                      3
Suriname                    2
Somaliland                  2
Maldives                    2
Puerto Rico                 1
Djibouti                    1
Oman                        1
xx                          1
Name: count, dtype: int64

In [58]:
wh_merged_1.shape

(1368, 12)

In [59]:
# Drop the entire row with "xx" value in country column 
wh_merged_1.drop(wh_merged_1[wh_merged_1['country']=='xx'].index, inplace=True)

In [60]:
wh_merged_1.head()

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual,File_Name
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,wh_2015_wrangled.csv
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,wh_2015_wrangled.csv
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,wh_2015_wrangled.csv
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,wh_2015_wrangled.csv
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,wh_2015_wrangled.csv

In [63]:
wh_merged_1.shape

(1367, 12)

In [64]:
# Check for the frequency of 'country' column 
pd.options.display.max_rows = None
wh_merged_1['country'].value_counts(dropna=False)

country
Switzerland                 9
Hungary                     9
Albania                     9
Bosnia and Herzegovina      9
Dominican Republic          9
Mongolia                    9
Greece                      9
Lebanon                     9
Honduras                    9
Morocco                     9
Tajikistan                  9
Tunisia                     9
Palestine                   9
Bangladesh                  9
Iran                        9
Ukraine                     9
North Macedonia             9
Philippines                 9
Mauritius                   9
Pakistan                    9
Estonia                     9
Indonesia                   9
Vietnam                     9
Turkey                      9
Kyrgyzstan                  9
Nigeria                     9
Jordan                      9
Latvia                      9
Iceland                     9
China                       9
Zambia                      9
Romania                     9
Serbia                      9
Portugal                    9
Iraq                        9
South Africa                9
Ghana                       9
Madagascar                  9
Uganda                      9
Senegal                     9
Gabon                       9
Niger                       9
Cambodia                    9
Tanzania                    9
Chad                        9
Zimbabwe                    9
Guinea                      9
Ivory Coast                 9
Burkina Faso                9
Afghanistan                 9
Benin                       9
Togo                        9
Mali                        9
Egypt                       9
Bulgaria                    9
Cameroon                    9
Sri Lanka                   9
Malawi                      9
Georgia                     9
Myanmar                     9
Botswana                    9
Armenia                     9
Kenya                       9
Mauritania                  9
Sierra Leone                9
Ethiopia                    9
Nepal                       9
India                       9
Liberia                     9
Hong Kong                   9
Montenegro                  9
Austria                     9
Japan                       9
Uzbekistan                  9
Guatemala                   9
El Salvador                 9
Costa Rica                  9
Canada                      9
Ireland                     9
Taiwan                      9
Malta                       9
Spain                       9
Saudi Arabia                9
Thailand                    9
Colombia                    9
Uruguay                     9
Finland                     9
Kosovo                      9
Belgium                     9
Czech Republic              9
Argentina                   9
France                      9
Netherlands                 9
Chile                       9
Sweden                      9
Germany                     9
Panama                      9
Singapore                   9
Venezuela                   9
New Zealand                 9
Slovakia                    9
South Korea                 9
United Arab Emirates        9
Norway                      9
Algeria                     9
Cyprus                      9
Mexico                      9
Jamaica                     9
Russia                      9
United States               9
Brazil                      9
Israel                      9
Croatia                     9
Malaysia                    9
Poland                      9
Peru                        9
Nicaragua                   9
Lithuania                   9
Slovenia                    9
Kazakhstan                  9
Denmark                     9
Paraguay                    9
Moldova                     9
Luxembourg                  9
Bolivia                     9
Italy                       9
Australia                   9
Bahrain                     9
Ecuador                     9
United Kingdom              9
Congo (Brazzaville)         8
Yemen                       8
Turkmenistan                8
Congo (Kinshasa)            8
Kuwait                      8
Laos                        8
Mozambique                  8
Belarus                     8
Libya                       8
Azerbaijan                  8
Namibia                     8
Northern Cyprus             8
Rwanda                      8
Burundi                     7
Haiti                       7
Comoros                     7
Lesotho                     7
Trinidad and Tobago         6
Gambia                      5
South Sudan                 5
Bhutan                      5
Eswatini                    5
Syria                       5
Qatar                       5
Central African Republic    5
Sudan                       4
Angola                      4
Somalia                     4
Belize                      3
Suriname                    2
Somaliland                  2
Maldives                    2
Puerto Rico                 1
Djibouti                    1
Oman                        1
Name: count, dtype: int64

## 03. Checking mixed-typed data

In [71]:
# Check for mixed-type data
for col in wh_merged_1.columns.tolist():
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (wh_merged_1[weird]) > 0:
    print (col)

C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Oksana Stepanova\AppData\Local\Temp\ipykernel_696\1997998094.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (wh_merged_1[[col]].applymap(type) != wh_merged_1[[col]].iloc[0].apply(type)).any(axis = 1)

## 04. Missing values

In [76]:
wh_merged_1.isnull().sum()

country                        0
year                           0
happiness_rank                 0
happiness_score                0
economy_GDP_per_capita         0
family                         0
health_life_expectancy         1
freedom                        0
trust_government_corruption    1
generosity                     0
dystopia_residual              0
File_Name                      0
dtype: int64

In [77]:
wh_merged_1_nan=wh_merged_1[wh_merged_1['health_life_expectancy'].isnull()==True]

In [78]:
wh_merged_1_nan

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual,File_Name
1329,Palestine,2023,99,4.908,1.144,1.309,NaN,0.416,0.067,0.065,0.0,wh_2023_wrangled.csv

In [81]:
# Define the mean value of health_life_expectancy in Palestine
palestine_data=wh_merged_1[wh_merged_1['country']=='Palestine']
mean_health_life_expectancy=palestine_data['health_life_expectancy'].mean()
print(mean_health_life_expectancy)

0.5796354433238564

In [82]:
# Replace missing value with the mean value
wh_merged_1['health_life_expectancy'].fillna(mean_health_life_expectancy, inplace=True)

In [83]:
# Check for missing values in 'health_life_expectancy'
wh_merged_1['health_life_expectancy'].isnull().sum()

0

In [84]:
# Check the rows with missing value in 'trust_government_corruption' column
wh_merged_1_nan_corr=wh_merged_1[wh_merged_1['trust_government_corruption'].isnull()==True]

In [85]:
wh_merged_1_nan_corr

,country,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual,File_Name
489,United Arab Emirates,2018,20,6.774,2.096,0.776,0.67,0.284,NaN,0.186,0.0,wh_2018_wrangled.csv

In [86]:
# Define the mean value of trust_government_corruption in UAE
uae_data=wh_merged_1[wh_merged_1['country']=='United Arab Emirates']
mean_trust_government_corruption=uae_data['trust_government_corruption'].mean()
print(mean_trust_government_corruption)

0.2735178852129421

In [87]:
# Replace missing value with the mean value
wh_merged_1['trust_government_corruption'].fillna(mean_trust_government_corruption, inplace=True)

In [88]:
# Check for missing values in 'trust_government_corruption'
wh_merged_1['trust_government_corruption'].isnull().sum()

0

In [89]:
wh_merged_1.isnull().sum()

country                        0
year                           0
happiness_rank                 0
happiness_score                0
economy_GDP_per_capita         0
family                         0
health_life_expectancy         0
freedom                        0
trust_government_corruption    0
generosity                     0
dystopia_residual              0
File_Name                      0
dtype: int64

## 05. Duplicates

In [91]:
# Find duplicates
wh_merged_1_dups=wh_merged_1[wh_merged_1.duplicated()]

In [92]:
wh_merged_1_dups

Empty DataFrame
Columns: [country, year, happiness_rank, happiness_score, economy_GDP_per_capita, family, health_life_expectancy, freedom, trust_government_corruption, generosity, dystopia_residual, File_Name]
Index: []

In [93]:
wh_merged_1_dups.shape

(0, 12)

## 06. Descriptive analysis

In [95]:
wh_merged_1.describe()

,year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
count,1367.000000,1367.000000,1367.000000,1367.000000,1367.000000,1367.000000,1367.000000,1367.000000,1367.000000,1367.000000
mean,2018.903438,76.574250,5.441086,1.019422,1.045334,0.584040,0.450771,0.132378,0.196260,1.400808
std,2.561006,44.089804,1.117909,0.453703,0.331163,0.245028,0.156733,0.112579,0.113301,1.090281
min,2015.000000,1.000000,1.859000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.000000,38.500000,4.599500,0.696326,0.832022,0.402554,0.356000,0.056884,0.115000,0.000000
50%,2019.000000,76.000000,5.440000,1.043000,1.083000,0.612448,0.467610,0.097000,0.182700,1.737970
75%,2021.000000,114.000000,6.256300,1.338473,1.299985,0.777602,0.568685,0.166500,0.252858,2.262500
max,2023.000000,158.000000,7.842000,2.209000,1.644000,1.141000,0.772000,0.587000,0.838075,3.837720

In [96]:
wh_merged_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1367 entries, 0 to 1367
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      1367 non-null   object
 1   year                         1367 non-null   int64
 2   happiness_rank               1367 non-null   int64
 3   happiness_score              1367 non-null   float64
 4   economy_GDP_per_capita       1367 non-null   float64
 5   family                       1367 non-null   float64
 6   health_life_expectancy       1367 non-null   float64
 7   freedom                      1367 non-null   float64
 8   trust_government_corruption  1367 non-null   float64
 9   generosity                   1367 non-null   float64
 10  dystopia_residual            1367 non-null   float64
 11  File_Name                    1367 non-null   object
dtypes: float64(8), int64(2), object(2)
memory usage: 138.8+ KB

## 07. Expoting data

In [98]:
# Export merged DataFrame
wh_merged_1.to_csv(os.path.join(path, 'wh_merged.csv'))